<div class="relative" style="margin: 20px 24px 0 24px;">
    <h1 style="position: absolute; top: 0; left: 0;">{{title}}</h1>
    <div style="position: absolute; top: 0; right: 0;">
        <mat-slide-toggle [(ngModel)]="showBigGraph"
        (ngModelChange)="showBigGraphChanged()">Large Graph</mat-slide-toggle>
    </div>
    @if (showBigGraph){
        <mer-category-donut [currentDate]="date" (itemClick)="largeDonutClicked($event)"></mer-category-donut>
    } @else {
        <mer-small-donut [currentDate]="date" [isSubcategory]="isSubcategory" (itemClick)="smallDonutClicked($event)"></mer-small-donut>
    }
    <div style="position: absolute; bottom: 0; left: 0;">
        <div>
            @if (filterCat){
                <span class="text-muted">Filtered to</span>
            }
        </div>
        <div>
            @if (!filterCat){
                <span class="text-muted">Click on graph to filter</span>
            } @else {
                <h3 class="mb-0" style="line-height: 18px;">{{filterCat}}
                     @if (filterSubcat){
                        - {{filterSubcat}}
                     }
                    </h3>
            }
        </div>
    </div>
    @if(!showBigGraph){
        <div style="position: absolute; bottom: 15px; right: 0;">
            <mat-slide-toggle [(ngModel)]="isSubcategory"
            (ngModelChange)="isSubcategoryChanged()">Subcategories</mat-slide-toggle>
        </div>
    }
</div>

<mat-dialog-content class="mat-typography py-2" style="height: 70vh;">
    <table class="table mat-elevation-z4 mb-0">
        @for(transaction of filteredTransactions; track transaction){
        <tr>
            <td>{{transaction.date | date:'M/d/yy'}}</td>
            <td>{{transaction.amount | currency}}</td>
            <td>{{transaction.name}}</td>
            <td>{{transaction.catName}}</td>
            <td>{{transaction.subcatName}}</td>
        </tr>
        }
    </table>
    @if(!filteredTransactions.length){
    <h3 class="pt-6 text-center">No Transactions in this period</h3>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>close</button>
</mat-dialog-actions>