<div class="t-border t-border-dashed t-rounded t-p-3" style="height: 12rem"
    [ngClass]="isDragging ? 'border-primary border-2' : ''" id="dropzone">
    @if (isDragging) {
    <h4 class="text-center" style="margin-top: 3.75rem;">
        @if (dragCount == 1) {
        Drop file here
        } @else {
        Drop {{dragCount}} files here
        }
    </h4>
    } @else {
    <h3 class="t-text-center t-mt-3">Drag files here</h3>
    <div class="t-text-center t-mb-3">or</div>
    <div class="t-text-center t-mb-1">
        <button mat-raised-button (click)="fileInput.click()">Browse Files</button>
        <input class="t-hidden" id="file-import" #fileInput type="file" multiple />
    </div>
    }
</div>