<mat-toolbar class="t-px-1">
  @if(mobileWidth()){
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [class.mer-menu-active]="routePath() == '/'" [routerLink]="['/']">Dashboard</button>
    <button mat-menu-item [class.mer-menu-active]="routePath() == '/transactions'" [routerLink]="['/transactions']">Transactions</button>
    <button mat-menu-item [class.mer-menu-active]="routePath() == '/monthly'" [routerLink]="['/monthly']">Monthly Report</button>
    <button mat-menu-item [class.mer-menu-active]="routePath() == '/yearly'" [routerLink]="['/yearly']">Yearly Report</button>
  </mat-menu>
  }
  <div [ngClass]="mobileWidth() ? 't-pl-1' : 't-pl-3 t-pr-4'">
    <div class="t-relative">
      My Expense Report
      <strong id="subtitle"><i></i>{{getEnvName()}}</strong>
    </div>
  </div>
  @if(!mobileWidth()){
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link [active]="routePath() == '/'" [routerLink]="['/']"> Dashboard</a>
      <a mat-tab-link [active]="routePath() == '/transactions'" [routerLink]="['/transactions']">Transactions</a>
      <a mat-tab-link [active]="routePath() == '/monthly'" [routerLink]="['/monthly']">Monthly Report</a>
      <a mat-tab-link [active]="routePath() == '/yearly'" [routerLink]="['/yearly']">Yearly Report</a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


  <!-- <mat-tab-group animationDuration="200ms" class="toolbar-tab">
    <mat-tab label="Dashboard"></mat-tab>
    <mat-tab label="Transactions"></mat-tab>
    <mat-tab label="Monthly Report"></mat-tab>
    <mat-tab label="Yearly Report"></mat-tab>
  </mat-tab-group> -->
  }
  <span class="t-flex-grow"></span>
  <button mat-icon-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Toggle Dark Theme" (click)="toggleTheme()">
    <mat-icon>{{darkMode$() ? 'sunny' : 'nightlight'}}</mat-icon>
  </button>
</mat-toolbar>
@if (isSampleData$()){
  <div class="warning-toolbar t-mt-4 t-py-1">
    <h2 class="t-text-center t-mb-0 t-w-full">Displaying Sample Data</h2>
    <div class="t-text-center t-w-full" style="font-size: 0.75rem;">Sample data will disappear immediately after you import transactions</div>
  </div>
}