<h2 mat-dialog-title>Fix Uncategorized Transactions</h2>
<mat-dialog-content class="mat-typography">
    @if (currentUncatTransaction && currentSuggestionInfo && suggestionInfos){
    <div class="grid grid-cols-4 gap-4">
        <div>
            <div>Date</div>
            <h3 class="text-body">{{currentUncatTransaction.date | date:'M/d/yy'}}</h3>
        </div>
        <div>
            <div>Amount</div>
            <h3 class="text-body">{{currentUncatTransaction.amount | currency}}</h3>
        </div>
        <div class="col-span-2">
            <div>Description</div>
            <h3 class="text-body">{{currentUncatTransaction.name}}</h3>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-3">
        <div class="flex flex-col" style="height: 160px;">
            @if (currentSuggestionInfo.matches.length){
            <h4 class="mb-1">Proposed rule would affect the following transactions
                ({{currentSuggestionInfo.matches.length}})</h4>
            <div class="grow" style="overflow: auto">
                <table class="table table-outline table-sm mb-0">
                    @for(match of currentSuggestionInfo.matches; track match){
                    <tr>
                        <td>{{match.date | date:'M/d/yy'}}</td>
                        <td>{{match.amount | currency}}</td>
                        <td>{{match.name}}</td>
                    </tr>
                    }
                </table>
            </div>
            }
        </div>
        <div class="flex flex-col" style="height: 160px;">
            @if (currentSuggestionInfo.conflicts.length){
            <h4 class="mb-1">Proposed rule conflicts with already-categorized transactions</h4>
            <div class="grow" style="overflow: auto">
                <table class="table table-outline table-sm mb-0">
                    @for(conflict of currentSuggestionInfo.conflicts; track conflict){
                    <tr>
                        <td>{{conflict.date | date:'M/d/yy'}}</td>
                        <td>{{conflict.amount | currency}}</td>
                        <td>{{conflict.name}}</td>
                        <td>{{conflict.catName}}</td>
                        <td>{{conflict.subcatName}}</td>
                    </tr>
                    }
                </table>
            </div>
            }
        </div>
    </div>
    @if (suggestionInfos.length){
    <h4 class="mb-1">rule text suggestions</h4>
    <div class="">
        @for(info of suggestionInfos; track info){
        <button class="mr-2" mat-raised-button [class.border-primary]="info == currentSuggestionInfo"
            (click)="selectSuggestion(info)">
            {{info.text}}
            <span class="text-muted primary-button-muted-text">({{info.matches.length}})</span>
        </button>
        }
    </div>
    }
    <div class="mt-2 grid grid-cols-4 gap-4">
        <mat-form-field>
            <mat-label>rule text</mat-label>
            <input matInput [(ngModel)]="ruleTextInput" (ngModelChange)="ruleTextChanged()">
        </mat-form-field>
        <mer-subcategory-select 
            [(subcategory)]="selectedSubcategory"
            [(isNew)]="isNewSubcategory"
        
        class="col-span-2">

        </mer-subcategory-select>
        @if(isAddingNewSubcategory()){
            <button class="input-height-btn" mat-raised-button color="accent" (click)="submit()">
                <small>new category/subcategory</small><br>
                Submit
            </button>

        } @else {
            <button class="input-height-btn" mat-raised-button color="primary" (click)="submit()">Submit</button>
        }
    </div>

    }

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button (click)="skip()">Skip</button>
</mat-dialog-actions>