<h2 mat-dialog-title>
    @if (isFixingUncat){
    Fix Uncategorized Transactions
    }
    @else {
    Add Category Rule
    }
</h2>
<div class="t-px-6">
    @if (currentUncatTransaction && suggestionInfos){
    <table class="table mat-elevation-z2 mb-4">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Source</th>

        </tr>
        <tr>
            <td>{{currentUncatTransaction.date | date:'M/d/yy'}}</td>
            <td>{{currentUncatTransaction.name}}</td>
            <td>{{currentUncatTransaction.amount | currency}}</td>
            <td>{{currentUncatTransaction.importFrom}}</td>
        </tr>
    </table>
    }

    <div class="t-grid t-grid-cols-2 t-gap-4 t-mb-3">
        <div class="t-flex t-flex-col" style="height: 160px;">
            @if (!isFixingUncat && !currentSuggestionInfo){
                <h4 class="t-mb-1">Proposed rule would affect the following transactions (0)</h4>
            }
            @if (currentSuggestionInfo){
            <h4 class="t-mb-1">Proposed rule would affect the following transactions
                ({{currentSuggestionInfo.matches.length}})</h4>
            <div class="t-grow t-overflow-auto">
                <table class="table table-outline table-sm t-mb-0">
                    @for(match of currentSuggestionInfo.matches; track match){
                    <tr>
                        <td>{{match.date | date:'M/d/yy'}}</td>
                        <td>{{match.amount | currency}}</td>
                        <td>{{match.name}}</td>
                    </tr>
                    }
                </table>
            </div>
            }
        </div>
        <div class="t-flex t-flex-col" style="height: 160px;">
            @if (currentSuggestionInfo && currentSuggestionInfo.conflicts.length){
            <h4 class="t-mb-1">Proposed rule conflicts with already-categorized transactions</h4>
            <div class="t-grow t-overflow-auto">
                <table class="table table-outline table-sm t-mb-0">
                    @for(conflict of currentSuggestionInfo.conflicts; track conflict){
                    <tr>
                        <td>{{conflict.date | date:'M/d/yy'}}</td>
                        <td>{{conflict.amount | currency}}</td>
                        <td>{{conflict.name}}</td>
                        <td>{{conflict.catName}}</td>
                        <td>{{conflict.subcatName}}</td>
                    </tr>
                    }
                </table>
            </div>
            }
        </div>
    </div>
    @if (suggestionInfos && suggestionInfos.length){
    <h4 class="t-mb-1">rule text suggestions</h4>
    <div>
        @for(info of suggestionInfos; track info){
        <button class="t-mr-2" mat-raised-button [class.border-primary]="info == currentSuggestionInfo"
            (click)="selectSuggestion(info)" [disabled]="isManual">
            {{info.text}}
            <span class="text-muted primary-button-muted-text">({{info.matches.length}})</span>
        </button>
        }
    </div>
    }
    @if (!finished){
    <div class="t-mt-2 t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>rule text</mat-label>
            <input matInput [(ngModel)]="ruleTextInput" (ngModelChange)="ruleTextChanged()" [disabled]="isManual">
        </mat-form-field>
        <mer-subcategory-select [(catName)]="catName" [(subcatName)]="subcatName" [(isNew)]="isNew"
            (catNameChange)="updateCategoryButtons()" (subcatNameChange)="updateCategoryButtons()" class="t-col-span-2">

        </mer-subcategory-select>
        @if (isNew){
        <button class="input-height-btn" mat-raised-button color="accent" (click)="submit()">
            <small>new category/subcategory</small><br>
            Submit
        </button>

        } @else {
        <button class="input-height-btn" mat-raised-button color="primary" (click)="submit()">Submit</button>
        }
    </div>
    } @else {
        @if (isFixingUncat){
            <div class="t-text-center t-mt-6">Done fixing uncategorized transactions</div>
        } 
        <div class="t-text-center" style="margin: 100px 0">
            <button mat-raised-button color="primary" (click)="startAddingRule()">Add Category-Rule</button>
        </div>
    }
    @if (catNames.length && !finished){
    <div style="height: 68px;">
        @if (!showSubcatButtons){
        <h4 class="t-inline-block t-mr-1">Existing Categories: </h4>
        @for (catNameOption of filteredCatNames; track catNameOption){
        <button mat-raised-button class="btn-sm t-mx-1" (click)="clickCatName(catNameOption)">{{catNameOption}}</button>
        }
        } @else if (showSubcatButtons) {
        <h4 class="t-inline-block t-mr-1">Existing Subcategories of {{catName}}: </h4>
        @for (subcat of filteredSubcats; track subcat){
        <button mat-raised-button class="btn-sm t-mx-1" (click)="clickSubcat(subcat)">{{subcat.subcatName}}</button>
        }
        }

    </div>
    }
</div>
<mat-dialog-actions align="end">
    @if(currentUncatTransaction){
    <div class="t-pl-4">
        <mat-slide-toggle [(ngModel)]="isManual" (ngModelChange)="isManualChange()">Assign Manual
            Category</mat-slide-toggle>
    </div>
    }
    <div class="t-flex-grow"></div>
    @if(isFixingUncat){
    @if(skippedTransactions.length){
    <button mat-raised-button (click)="back()">Back</button>
    }
    <button mat-raised-button (click)="skip()">Skip</button>
    }

    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>