/Express-Server/node_modules
/Express-Server/public
/Express-Server/data

/Angular-UI/node_modules
/Angular-UI/.angular
/Angular-UI/dist
/Angular-UI/dist-desktop
/Angular-UI/dist-hosted
/Angular-UI/settings.json
/Angular-UI/transactions.json
/Angular-UI/electron-published