/AspNetCore-Server/obj
/AspNetCore-Server/bin
/AspNetCore-Server/wwwroot

/Angular-UI/node_modules
/Angular-UI/.angular
/Angular-UI/dist
/Angular-UI/dist-electron
/Angular-UI/settings.json
/Angular-UI/transactions.json
/Angular-UI/electron-published