<div class="t-p-4">
    <div style="display: grid; grid-template: 1fr 1fr 0.5fr / 14rem 1fr 14rem;">
        <h2 class="t-mb-0">Transactions</h2>
        <div style="grid-row: span 2; display: flex; justify-content: center;">
            <mat-form-field class="t-mr-3" style="flex-grow: 0.5">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="filterText" (ngModelChange)="filterTextChanged()" (paste)="onPaste()">
            </mat-form-field>
            <mat-form-field class="t-mr-3" style="flex-grow: 0.1">
                <mat-label>Filter Column</mat-label>
                <mat-select [(value)]="selectedFilterColumn" (selectionChange)="filterChanged()">
                    @for (filterableColumn of filterableColumns; track filterableColumn) {
                    <mat-option [value]="filterableColumn">{{filterableColumn}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field style="flex-grow: 0.1">
                <mat-label >Filter Type</mat-label>
                <mat-select role="listbox" [(value)]="selectedFilterType" (selectionChange)="filterChanged()">
                    @for (filterType of filterTypes; track filterType) {
                    <mat-option [value]="filterType">{{filterType}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div style="width: 48px; margin: 4px 0 0 4px;">
                <button mat-icon-button (click)="clearFilters()" [class.text-muted]="!filterText"><mat-icon>clear</mat-icon></button>
            </div>
        </div>
        <div>
            <mat-slide-toggle [(ngModel)]="showHidden"
            (ngModelChange)="showHiddenChanged()">Show Hidden Transactions</mat-slide-toggle>
        </div>
        <div class="t-row-span-2">
            @if (selection.selected.length){
                <button mat-raised-button color="primary" (click)="editSelected()">
                    Edit Transaction{{selection.selected.length > 1 ? 's (' + selection.selected.length  + ')' : ''}}
                </button>
            }
        </div>
        <div class="t-row-span-2 t-flex t-justify-end" style="font-size: 2rem;">
            @if (dataSource.filteredData.length){
                <button class="mr-3" mat-raised-button (click)="exportTransactions()">
                    Export ({{dataSource.filteredData.length}})
                </button>
            }
            <button class="large-icon-btn" mat-raised-button color="primary" (click)="add()"><mat-icon>add</mat-icon></button>
        </div>
        <p class="t-text-center t-mb-0" style="position: relative; top: -12px; overflow: hidden;">
            @if (filterText && !debounceActive){
                Filtered to {{dataSource.filteredData.length}} of {{dataSource.data.length}} transactions (total {{getTotalAmount() | currency }})
            }
            @else if (debounceActive){
            <small class="text-muted" style="position: relative; top: -3px;">
                <mat-icon>more_horiz</mat-icon>
            </small>
            }
            @else {
                {{dataSource.data.length}} transactions (total {{getTotalAmount() | currency }})
            }
        </p>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null" color="primary"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null" color="primary"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let trxn">{{trxn.date | date:'M/d/yy'}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let trxn">{{trxn.name}}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let trxn">{{trxn.amount | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let trxn" class="relative" style="line-height: 24px;">
                    <span class="cat-box" [style]="getColorStyles(trxn)"></span>
                    {{trxn.catName}}
                    @if(trxn.catSource){
                        <mat-icon class="text-muted" style="position: absolute; right: 0;"  [matTooltip]="trxn.catSource">info</mat-icon>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="subcategory">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Subcategory </th>
                <td mat-cell *matCellDef="let trxn">{{trxn.subcatName}}</td>
            </ng-container>

            <ng-container matColumnDef="importedFrom">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Imported From </th>
                <td mat-cell *matCellDef="let trxn">{{trxn.importFrom ? trxn.importFrom : '(manually added)'}}</td>
            </ng-container>

            <ng-container matColumnDef="importedOn">
                <th mat-header-cell mat-sort-header start="desc" *matHeaderCellDef> Imported On </th>
                <td mat-cell *matCellDef="let trxn"> {{trxn.importDate | date:'M/d/yy, h:mm:ss a'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[50, 100, 200, 1000, 5000]" (page)="pageChange($event)"></mat-paginator>
    </div>
</div>