<div style="display: flex; justify-content: space-between;">
  <h2 class="mat-mdc-dialog-title mdc-dialog__title">Import Transactions</h2>
  @if (currentGrid){
  <div style="padding: 24px;">
    <mat-slide-toggle [(ngModel)]="expensesAreNegative" (ngModelChange)="expensesAreNegativeChanged()">expensese are negative</mat-slide-toggle>
  </div>
  }
</div>
<mat-dialog-content class="mat-typography pt-0">
  @if (currentGrid){
  <table class="table mat-elevation-z4 mt-3">
    @if(currentGrid.headers){
      <tr class="sticky-table-header">
        @for (header of currentGrid.headers; track header; let index = $index){
        @if (currentGrid.nameColumnIndex == index
        || currentGrid.amountColumnIndex == index
        || currentGrid.dateColumnIndex == index) {
        <th class="text-primary">{{header}}</th>
        } @else {
        <td class="text-muted">{{header}}</td>
        }
        }
      </tr>
    }
      @for (row of currentGrid.rows; track row; let index = $index){
      <tr [class.warning-row]="duplicateRowIndexes.includes(index)">
        @for (cell of row.cells; track cell; let index = $index){
        @if (row.invalidIndexes.includes(index)){
        <td class="invalid-cell">
          {{cell}}
        </td>
        }
        @else if (isDate(cell)){
        <td [class.text-muted]="row.invalidIndexes.length || duplicateRowIndexes.includes(index)">
          {{cell | date:'M/d/yy'}}
        </td>
        }
        @else if (currentGrid.amountColumnIndex == index && isNumber(cell)){
        <td [class.text-muted]="row.invalidIndexes.length || duplicateRowIndexes.includes(index)"
        [class.success-cell]="(expensesAreNegative && cell > 0) || (!expensesAreNegative && cell < 0)">
          {{cell | currency}}
        </td>
        }
        @else if (currentGrid.nameColumnIndex == index){
        <td [class.text-muted]="row.invalidIndexes.length || duplicateRowIndexes.includes(index)">
          {{cell}}
        </td>
        }
        @else {
        <td class="text-muted">
          {{cell}}
        </td>
        }
        }
      </tr>
      }
  </table>
  }
  @else if (files){
  <table class="table mat-elevation-z4">
    <tr>
      <th>file name</th>
      <th>file type</th>
      <th>file size</th>
    </tr>
    @for (file of files; track file){
    <tr>
      <td>{{file.name}}</td>
      <td>{{file.type}}</td>
      <td>{{formatBytes(file.size, 2)}}</td>
    </tr>
    }
  </table>
  } @else {
  <mer-file-drop (import)="processFiles($event)"></mer-file-drop>
  }



</mat-dialog-content>
<mat-dialog-actions align="end">
  @if (duplicateCount || invalidCount || incomeCount){
    @if (invalidCount){
      <div class="invalid-cell ml-3 p-2">{{invalidCount}} invalid rows</div>
    }
    @if (duplicateCount){
      <div class="warning-row ml-3 p-2">{{duplicateCount}} duplicate rows</div>
    }
    @if (incomeCount){
      <div class="success-cell ml-3 p-2">{{incomeCount}} income rows</div>
    }
    <div style="flex-grow: 1;"></div>
  }


  <button mat-raised-button mat-dialog-close>Close</button>
  @if (currentGrid){
  @if (currentGridIndex == 0){
  <button mat-raised-button (click)="backToStart()">Back</button>
  }
  <button mat-raised-button color="primary" (click)="importTransactions()">Import ({{importCount}} of {{ currentGrid.rows.length}})</button>
  } @else if (files){
  <button mat-raised-button (click)="backToStart()">Back</button>
  <button mat-raised-button color="primary" (click)="next()">Next</button>
  }
</mat-dialog-actions>