<div class="t-flex t-justify-between">
    <h2 class="mat-mdc-dialog-title mdc-dialog__title">Import Transactions</h2>
    @if (grid){
    <span class="t-mt-4">{{currentFile?.name}}</span>
    <div class="t-p-6">
        <mat-slide-toggle [(ngModel)]="expensesAreNegative" (ngModelChange)="expensesAreNegativeChanged()">expensese are
            negative</mat-slide-toggle>
    </div>
    }
</div>
<mat-dialog-content class="mat-typography t-pt-0">
    @if (grid){
    <table class="table mat-elevation-z4 t-mt-3">
        @if(grid.headers){
        <tr class="sticky-table-header">
            @for (header of grid.headers; track header; let index = $index){
            @if (grid.nameColumnIndex == index
            || grid.amountColumnIndex == index
            || grid.dateColumnIndex == index
            || grid.catNameColumnIndex == index
            || grid.subcatNameColumnIndex == index) {
            <th class="text-primary">{{header}}</th>
            } @else {
            <td class="text-muted">{{header}}</td>
            }
            }
            <td></td>
        </tr>
        }
        @for (row of grid.rows; track row; let rowIndex = $index){
        <tr>
            @for (cell of row.cells; track cell; let colIndex = $index){
            @if (row.invalidIndexes.includes(colIndex)){
            <td class="invalid-cell">
                {{cell}}
            </td>
            }
            @else if (isDate(cell)){
            <td [ngClass]="getClass(row, rowIndex, cell)">
                {{cell | date:'M/d/yy'}}
            </td>
            }
            @else if (grid.amountColumnIndex == colIndex && isNumber(cell)){
            <td [ngClass]="getClass(row, rowIndex, cell)">
                {{cell | currency}}
            </td>
            }
            @else if (grid.nameColumnIndex == colIndex || grid.catNameColumnIndex == colIndex ||
            grid.subcatNameColumnIndex == colIndex){
            <td [ngClass]="getClass(row, rowIndex, cell)">
                {{cell}}
            </td>
            }
            @else {
            <td class="text-muted">
                {{cell}}
            </td>
            }
            }
            <td>
                @if (!row.invalidIndexes.length){
                <mat-checkbox (change)="$event ? selection.toggle(row) : null" color="primary"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
                }
            </td>

        </tr>
        }
    </table>
    }
    @else {
    <small>Files must be in CSV format. The app will likely infer the correct columns automatically. If doesn't work, try editing the CSV file to have column headers titled "date", "amount", and "description".</small>
    <mer-file-drop (import)="addFiles($event)"></mer-file-drop>
    @if (files.length){
    <table class="table mat-elevation-z4 t-mt-4">
        <tr>
            <th>file name</th>
            <th>file type</th>
            <th>file size</th>
            <th></th>
        </tr>
        @for (file of files; track file){
        <tr>
            <td>{{file.name}}</td>
            <td>{{file.type}}</td>
            <td>{{formatBytes(file.size, 2)}}</td>
            <td class="t-flex t-justify-end t-items-center">
                @if (isImported(file)){
                <button mat-raised-button color="accent" disabled>Imported!</button>
                } @else {
                <button mat-raised-button color="primary" (click)="beginImport(file)">Begin Import</button>
                }
                <button mat-icon-button (click)="removeFile(file)" class="t-ml-2"><mat-icon>clear</mat-icon></button>
            </td>
        </tr>
        }
    </table>
    }
    }



</mat-dialog-content>
<mat-dialog-actions align="end">
    @if (duplicateCount || invalidCount || incomeCount){
    @if (invalidCount){
    <div class="invalid-cell t-ml-3 t-p-2">{{invalidCount}} invalid rows</div>
    }
    @if (duplicateCount){
    <div class="warning-cell t-ml-3 t-p-2">{{duplicateCount}} duplicate rows</div>
    }
    @if (incomeCount){
    <div class="success-cell t-ml-3 t-p-2">{{incomeCount}} income rows</div>
    }
    <div class="t-flex-grow"></div>
    }

    <button mat-raised-button mat-dialog-close>Close</button>
    @if (grid){
    <button mat-raised-button (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)="importTransactions()">Import ({{selection.selected.length}})</button>
    }
</mat-dialog-actions>