<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
    <div class="t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>Recent Month Count</mat-label>
            <input matInput type="number" [(ngModel)]="settings.recentMonthCount" (ngModelChange)="change()">
        </mat-form-field>
        <p class="t-col-span-3 mb-0">The Monthly Report calculates the Average and Standard Deviation using just the
            "Recent Months".
            The "Recent Months" affects the color highlighting of the monthly report, causing specifically the recent
            months to have a more even mix of positive colors and negative colors (default 12)
        </p>
    </div>
    <hr class="t-my-4">
    <div class="t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>Required Days for Latest Month</mat-label>
            <input matInput type="number" [(ngModel)]="settings.requiredDaysForLatestMonth" (ngModelChange)="change()">
        </mat-form-field>
        <p class="t-col-span-3 t-mb-0">
            The monthly report groups transactions by months and displays a row for each month.
            But the most recent month might have just a few days of transactions, and you probably don't want the report
            to have a row for an incomplete month.
            For example, if you choose 25, then in order for Jan 2023 to be included, there must be a transaction on Jan
            25th 2023 or any time later.
        </p>
    </div>
    <hr class="t-my-4">
    <div class="t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>Max Graph Categories</mat-label>
            <input matInput type="number" [(ngModel)]="settings.maxGraphCategories" (ngModelChange)="change()">
        </mat-form-field>
        <p class="t-col-span-3 t-mb-0">
            The various graphs will display the categories ordered by amount (based on the recent average).
            So the highest category will be 1st and colored red, the 2nd highest category will be 2nd & blue, etc.
            If you have many categories and find it overwhelming, you can limit how many different categories can be displayed on the graphs 
            ("Other" and "Income" don't count toward this limit).
            Any category in excess of this limit will be displayed as a subcategory of the "other" category. 
        </p>
    </div>
    <hr class="t-my-4">
    <div class="t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>Report color severe z-score</mat-label>
            <input matInput type="number" [(ngModel)]="settings.reportColorSevereZScore" (ngModelChange)="change()">
        </mat-form-field>
        <p class="t-col-span-3 mb-0">
            To determine what color a report cell should be, it calculates the cell's "Z-score". 
            A high z-score will result in a gradually higher red color, and a negative z-score will result in a green color.
            A z-score is the difference from average, divided by the standard deviation.
            You can think of it as "how far away from the average, in terms of standard deviation units"
            In general, 99.7% of cells will have a z-score between negative 3 and positive 3.
        </p>
    </div>
    <hr class="t-my-4">
    <div class="t-grid t-grid-cols-4 t-gap-4">
        <mat-form-field>
            <mat-label>Report color deadzone</mat-label>
            <input matInput type="number" [(ngModel)]="settings.reportColorDeadZone" (ngModelChange)="change()">
        </mat-form-field>
        <p class="t-col-span-3 t-mb-0">
            The report page might have a column with a low standard deviation, and this can cause unimportant changes to
            be a severe color.
            The deadzone reduces the difference from the average before calculating the z-score.
            For example, if a column has an average of $50 and a standard deviation of 4, then a cell with $60 would
            normally have a z-score of +2.5 and might be bright red.
            But a deadzone of $5 would treat the cell as if it was $5 closer to the average ($55), and so the z-score will be just +1.25, and the cell will only be slightly red. 
            
        </p>
    </div>
    <hr class="t-my-4">
    <div class="t-text-center">
        <button mat-raised-button (click)="reset()">reset to default</button>
    </div>


    <!-- <div class="grid grid-cols-4 gap-4">
    <p class="col-span-3">
      You can automatically have income transactions (transactions with a negative amount) assigned the "income" category & "income" subcategory. 
    </p>
    <mat-form-field>
      <mat-label>Report color severe difference</mat-label>
      <input matInput type="number" [(ngModel)]="settings.recentMonthCount" (ngModelChange)="change()">
    </mat-form-field>
  </div> -->


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>close</button>
</mat-dialog-actions>