<div class="t-flex t-justify-between">
    <h2 class="mat-mdc-dialog-title mdc-dialog__title">Manage Category Rules</h2>
    <div class="t-relative t-pt-5">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput [(ngModel)]="filterText" (ngModelChange)="filterTextChanged()">
        </mat-form-field>
        <button mat-icon-button (click)="clearFilters()"
            [class.text-muted]="!filterText"><mat-icon>clear</mat-icon></button>
    </div>
    <div class="t-pt-5 t-pr-6">
        @if (uncategorizedCount$()) {
            <button mat-raised-button (click)="fixUncategorized()" class="t-mr-4">Fix Uncategorized ({{uncategorizedCount$()}})</button>
         }
        <button mat-raised-button (click)="import()" class="t-mr-4">Import from CSV</button>
        <button mat-raised-button (click)="export()" class="t-mr-4">Export to CSV</button>
        <button class="large-icon-btn" mat-raised-button color="primary"
            (click)="startAdd()"><mat-icon>add</mat-icon></button>
    </div>
</div>
<mat-dialog-content class="mat-typography" style="height: 60vh;">
    @if (isAdding){
    <div style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 30px;">
        <h4>Add Category Rule</h4>
        <div class="flex">
            <mer-subcategory-select [(subcategory)]="selectedSubcategory" [(isNew)]="isNew"></mer-subcategory-select>
            <mat-form-field class="mx-4">
                <mat-label>rule text</mat-label>
                <input matInput [(ngModel)]="ruleTextInput" (ngModelChange)="ruleTextChanged()">
            </mat-form-field>
            @if(isAddingNewSubcategory()){
            <button class="input-height-btn" mat-raised-button color="accent" (click)="submit()">
                <small>new category/subcategory</small><br>
                Submit
            </button>

            } @else {
            <button class="input-height-btn flex-grow" mat-raised-button color="primary" (click)="submit()">Submit</button>
            }
        </div>
        <div>
            <button mat-raised-button (click)="stopAdd()" style="float: right">cancel</button>
        </div>
    </div>
    } @else {
    <table class="table mat-elevation-z4">
        <tr>
            <th>Category</th>
            <th>Subcategory</th>
            <th>match text</th>
            <th>actions</th>
        </tr>
        @for (rule of filteredRules; track rule){
        <tr>
            <td>{{rule.catName}}</td>
            <td>{{rule.subcatName}}</td>
            <td>
                {{rule.text}}
            </td>
            <td>
                <button mat-raised-button class="t-mr-4" (click)="editText(rule)">Edit Text</button>

                <button mat-raised-button [matMenuTriggerFor]="moveMenu" class="t-mr-4">Move
                    <mat-icon>arrow_drop_down</mat-icon></button>
                <mat-menu #moveMenu="matMenu">
                    <button mat-menu-item (click)="moveToTop(rule)">to top</button>
                    <button mat-menu-item (click)="moveToBottom(rule)">to bottom</button>
                </mat-menu>
                <button mat-raised-button [matMenuTriggerFor]="deleteMenu">Delete
                    <mat-icon>arrow_drop_down</mat-icon></button>
                <mat-menu #deleteMenu="matMenu">
                    <button mat-menu-item (click)="delete(rule)">Delete "{{rule.text}}" rule</button>
                </mat-menu>
            </td>
        </tr>
        }
    </table>
    }

</mat-dialog-content>
<mat-dialog-actions align="end" class="t-justify-between">
    <div class="t-pl-4">Rules are evaluated top to bottom, and stop on first match</div>
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>