<h2 mat-dialog-title>Edit Transactions</h2>
<mat-dialog-content class="mat-typography">

    <div class="flex flex-col mb-3" style="height: 160px;">
        @if (transactions.length){
        <h4 class="mb-1">Edits will affect the following transactions
            ({{transactions.length}})</h4>
        <div class="grow" style="overflow: auto">
            <table class="table table-outline table-sm mb-0">
                @for(transaction of transactions; track transaction){
                <tr>
                    <td>{{transaction.date | date:'M/d/yy'}}</td>
                    <td>{{transaction.amount | currency}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.catName}}</td>
                    <td>{{transaction.subcatName}}</td>
                </tr>
                }
            </table>
        </div>
        }
    </div>
    <button mat-raised-button (click)="negateAmounts()">Flip Income/Expense</button>
    <button mat-raised-button (click)="hideTransactions()">Hide Transactions</button>
    <button mat-raised-button (click)="deleteTransactions()">Delete Transactions</button>
    <button mat-raised-button (click)="removeManualCats()">Remove Manual Categorization</button>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>