<h2 mat-dialog-title>Manually Add Transaction</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="mr-4" style="min-width: 360px;">
        <mat-label>name</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="mr-4">
        <mat-label>amount</mat-label>
        <input matInput type="number" [(ngModel)]="amount">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>

    <mat-card>
        <mat-card-content>
            Manual Category (optional)
            <mer-subcategory-select [(subcategory)]="selectedSubcategory" [(isNew)]="isNew"></mer-subcategory-select>
            @if(isNew && selectedSubcategory && selectedSubcategory.catName && selectedSubcategory.subcatName){
                <span>this will create a new Category/Subcategory</span>
            }
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</mat-dialog-actions>